body {
    background-color: lemonchiffon;
}

#board {
    position: relative;
    width: 100vw;
    height: 500px;
    border: dashed 5px tomato;
}

.image {
    position: absolute; /* enbales free mvment */
    cursor: grab;
    transition: none;
}