* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(14, 5, 20);
    color: rgb(165, 135, 194);
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

#board {
    position: relative;
    width: 100vw;
    height: 90vh;
    border: dashed 2px rgb(27, 11, 40);
    background-color: rgb(21, 9, 30);
}

.logo { 
    text-align: center;
    padding: 10px;
}

.file-container {
    width: 100vw;
    height: 5vh;
    padding: 10px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

input[type="file"] {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    padding: 5px;
}

input[type="file"]::file-selector-button {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background-color:  rgb(165, 135, 194);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    box-shadow: 2px 2px 2px #000;
}


.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}

.resize-handle {
    /* border-radius: 50%; */
    background: transparent;
    cursor: nwse-resize;
    opacity: 0;
}

.resize-handle:hover {
    opacity: 1;
}